@charset "utf-8";
/* CSS Document */

header{
	width: 100%; height: 60px; display: flex; 
}
.logo img {height: 20px;width: auto;align-items: center}
.menu ul{padding-left: 100px; margin: 0; display: flex; list-style: none}
.menu ul li a{text-decoration: none;padding: 10px 30px; color:#51505C; font-weight: bold}
.menu{padding-top: 10px; text-align: center}
.menu ul li a:hover{background-color:#793F00; color: white; border-radius: 20px}

.top-bar {margin-left: 100px}
.top-bar a{color:#51505C ; padding: 5px}
.top-bar a:hover{color:#51505C}

.banner{width: 100%; min-height: 300px}

.vien{border: 1px solid darkred; padding: 15px; border-radius: 5px; position: relative;  overflow: hidden}

.icon{position: absolute; width: 80%; height: 40px; left: 10%; top: -12%; display: flex; justify-content: space-around; transition: all 0.5s}
.icon a{height: 40px; width: 40px;background-color: darkred; color: white; border-radius: 50%; display: flex; justify-content: center; align-items: center; text-decoration: none}
.icon a:hover{background: #5E5F69; color: darkred}
.vien:hover .icon{top: 40%}

#feature{
	width: 100%; min-height: 700px; background: url("../images/bg2.png"); background-repeat: no-repeat; background-size: cover; background-position: center bottom
}
.pt-30{padding-top: 30px}
.gach-chan{border-bottom: 3px solid darkred}

.vien-trang{width: 100%; padding: 20px; text-align: center; border: 1px solid white}
.vien-trang a{text-decoration: none; color: darkred}
.text-do{color: darkred}
.vien-xam{border: 1px solid #5B5B5B;width: 100%; min-height: 400px; border-radius: 10px; padding: 15px; margin-bottom: 20px; box-shadow: 5px 5px 5px gray}
.chu{padding: 100px 0 }

#contact{width: 100%; min-height: 500px; background: url("../images/Banner2.png"); background-repeat: no-repeat; background-size: cover; background-position: center}
.shadow{width: 100%; min-height: 300px; border: 1px solid #5B5B5B; box-shadow: 5px 5px 5px gray; padding: 30px}
.form-control{padding: 10px; width: 100%; margin-bottom: 10px}

#slider .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px;}

#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:azure;
      text-decoration: none; }

.video {
  width: 100%;
  min-height: 200px;
  position: relative;
  left: 0;
right: 0;
  top: 0
}
footer{clear: both;width: 100%;height: 50px;background-color:#BBBBBB; text-align: center;line-height: 50px}